/* === start of variable === */
.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* === end of variable === */
/* === start of general === */

/* === end of general === */
/* === start of header === */

/* === end of header === */
/* === start of main === */

/* === end of main === */
/* === start of footer === */

/* === end of footer  === */
/* === start of function === */

/* === end of function === */ 