/* === start of variable === */

/* === end of variable === */
/* === start of general === */

/* === end of general === */
/* === start of header === */

/* === end of header === */
/* === start of main === */

/* === end of main === */
/* === start of footer === */

/* === end of footer  === */
/* === start of function === */
@media screen and (min-width: 768px) {
    main .features {
        .feat {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 1024px) {
    main .features {
        .feat {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (min-width: 1024px) {
    main .products {
        .feat {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width: 768px) {
    main .blog {
        .cards {
            max-width: 450px;
            margin: auto;
        }
    }
}

@media screen and (min-width: 768px) {
    main .blog {
        .cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            max-width: 900px;
            margin: auto;
        }
    }
}

@media screen and (min-width: 1300px) {
    main .blog {
        .cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            max-width: 1600px;
        }
    }
}
/* === end of function === */ 