/* === start of variable === */

/* === end of variable === */
/* === start of general === */

/* === end of general === */
/* === start of header === */
header .navbar {
    .nav-link:hover {
        color: black;
    }
}

header .slider {
    & {
        height: 95vh;
    }
}

@keyframes img {
    0% {
        transform: translate(5rem, 0rem);
        opacity: 0; 
    }

    100% {
        transform: translate(-3rem, 0rem);
        opacity: 1;
    }
}

header img {
    animation: img 2s ease alternate;
    transform: translate(-3rem, 0rem);
}

.instagram {
    height: 30px;
    width: 30px;
    border-radius: 0.5rem;
    background: #833ab4;
    background: linear-gradient(to bottom left, #833ab4, #fd1d1d, #fcb045);
    margin: 0rem;
    padding: 3px;
    padding-bottom: 4.5px;
}

.hover-1 i {
    margin-bottom: 2rem;
    transition: 0.5s;
}

.hover-1:hover i {
    transition: 0.5s;
    transform: translate(0, -15px);
}

.hover-1 {
    margin-bottom: 2rem;
    transition: 0.5s;
}

.hover-1:hover {
    transition: 0.5s;
    transform: translate(0, -15px);
}

.hover-2 img {
    margin-bottom: 2rem;
    transition: 0.5s;
}

.hover-2:hover img {
    transition: 0.5s;
    transform: translate(0, -15px);
}

h3 {
    transition: 0.5s;
    color: rgb(108, 117, 125);
    display: inline;
}

p {
    padding-top: 1rem;
}

h3:hover {
    transition: 0.5s;
    color: rgb(75, 86, 96);
}

.hover-2 , .card {
    a {
        text-decoration: none;
    }
}

.card {
    transition: 0.5s;
}

.card:hover {
    transform: scale(105%);
    transition: 0.5s;
}
/* === end of header === */
/* === start of main === */

/* === end of main === */
/* === start of footer === */

/* === end of footer  === */
/* === start of function === */

/* === end of function === */
